# Python
backend/.venv/
backend/__pycache__/
backend/routes/__pycache__/
backend/core/economia/__pycache__/
backend/core/enemies/__pycache__/
backend/core/mapa/__pycache__/
backend/core/npcs/__pycache__/
backend/core/players/__pycache__/
backend/core/recursos/__pycache__/
backend/core/services/__pycache__/
backend/core/tests/__pycache__/

# Node
frontend/node_modules/

.pytest_cache/